<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brexmobilechallenge">

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrexMobileChallenge"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.view.MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.transactionlist.view.TransactionListActivity" />
        <activity android:name=".ui.transactiondetail.view.TransactionDetailActivity" />
        <activity android:name=".ui.categorylist.view.CategoryListActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>